{% extends "layout.html.twig" %}
{% block view %}
<h1>k paso amigito</h1>
<img src="{{ asset('img/heroesFire.gif') }}" width="500" height="500" border="0">
<img src="{{ asset('img/ds.gif') }}" width="600" height="600" border="0">
{% endblock %}
