img<!DOCTYPE HTML>
<!--
	Strata by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Christian Rodriguez</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="img/guapo1.jpg" alt="" /></a>
					<h1><strong>Hola, yo soy Christian</strong>, un Gamer de corazón<br />
					pero centrado en la vida y el estudio<br />
					Return to <a href="{{path('zet_homepage')}}">Home</a>.</h1>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>"El tiempo es lo mas sabio que existe"<br />
							"No llorar, hasta el final".</h2>
						</header>
						<p>Estas fraces sacadas de algunos juegos son que me definen,
						soy una persona tranquila y pasifica, dependiendo quien estoy me siento mas liberado a ser yo,
						 siempre positivo exteriormente, pero todo un desastre en cuanto a mi interior trato de seguir siempre adelante
						 y terminar lo que inicie, mi pasatiempos son: ser gamer, el ciclismo, arqueria y leer comics y mangas, entre otras cosas.
					  Puedo eschucar cualquier genero musical menos havy metal, regeton y rap.
					 Y se podria decir que mi color favorito es el blanco.</p>

					</section>

				<!-- Two -->


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.poptrox.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>
